.card-contact {
  background: $color-white;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  box-sizing: border-box;
  padding: 1rem;
  width: calc((100% - 48px) / 3);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  @include media(mobile) {
    min-width: 100%;
  }
  @include media(mobile-land) {
    width: calc((100% - 24px) / 2);
  }
  @include media(tablet-land) {
    width: calc((100% - 48px) / 3);
  }
  .card-name {
    font-size: 18px;
    font-weight: bold;
  }
  .card-number {
    font-size: 15px;
    font-weight: 500;
  }
  .button-action {
    position: absolute;
    display: flex;
    z-index: 5;
    right: 1rem;
    gap: 8px;
    button {
      padding: 10px;
      border-radius: 50%;
      &:hover {
        transition: 0.7s;
      }
    }
    .btn-edit {
      background: orange;
      &:hover {
        background: rgb(220, 143, 2);
      }
    }
    .btn-delete {
      background: red;
      &:hover {
        background: rgb(218, 2, 2);
      }
    }
    .icon-btn {
      color: #fff;
    }
  }
}
