.form-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 4rem;
  .form-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
    max-width: 500px;
    .form-group {
      display: flex;
      flex-direction: column;
      gap: 8px;
      width: 100%;
      label {
        font-weight: 500;
      }
      input {
        padding: 14px;
        border: none;
        outline: none;
        border-radius: 10px;
      }
    }
    .button-action {
      display: flex;
      flex-wrap: nowrap;
      gap: 1rem;
      width: 100%;
      margin-top: 1rem;
      button {
        flex: 1;
        padding: 14px;
        border-radius: 10px;
        box-sizing: border-box;
      }
      .btn-back {
        background-color: transparent;
        border: 3px solid $color-grey-dark-2;
      }
      .btn-submit {
        background-color: $color-primary;
        color: $color-white;
        &:hover {
          background-color: $color-primary-dark;
        }
      }
    }
  }
}
